body {
    color: slategray;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
}

h1,
h2 {
    font-family: 'Clicker Script', cursive;
    line-height: 60px;
}