.App {
    margin-bottom: 30px;
}

.App-actions,
.App-label-history {
    margin-top: 30px;
}

.App-actions.btn-toolbar .btn,
.App-actions.btn-toolbar .btn-group,
.App-actions.btn-toolbar .input-group {
    float: right;
}

.App-main .tab-content {
    margin-top: 20px;
}