.Label-detection-date {
    color: lightslategray;
    display: block;
    line-height: 1;
    margin-bottom: 8px;
}

.Label-homonyms.alert {
    line-height: 0;
    padding: 3px;
}

.Label-homonyms .Canvas {
    margin: 4px;
    width: 64px;
}

.Label-detection-thumbnail .Canvas {
    width: 96px;
}

.Label-train-active .Canvas {
    width: 128px;
}