.LabelDetection .LocaleString {
    color: lightslategray;
    display: block;
    line-height: 1;
    margin-bottom: 8px;
}

.LabelDetection .LabelHomonymList {
    line-height: 0;
    padding: 4px;
}

.LabelDetection .LabelHomonymList .Canvas {
    margin: 4px;
}