.Snapshot {
    margin-bottom: 32px;
    overflow: hidden;
    position: relative;
}

.Snapshot .Canvas {
    width: 100%;
}

.Snapshot-detections {
    height: auto;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.Snapshot .LocaleString {
    bottom: 16px;
    color: white;
    left: 16px;
    position: absolute;
    width: 100%;
}