.Snapshot {
    margin-bottom: 32px;
    overflow: hidden;
    position: relative;
}

.Snapshot-detections {
    height: auto;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.Snapshot-date {
    bottom: 16px;
    color: white;
    color: rgba(255, 255, 255, 0.67);
    left: 16px;
    position: absolute;
    width: 100%;
}