.Detection {
    position: relative;
}

.Detection > img {
    width: 100%;
    height: auto;
}

.Detection-regions {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}