.Snapshot {
    position: relative;
}

.Snapshot-image {
    width: 100%;
    height: auto;
}

.Snapshot-detections {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}